@(myForm: Form[AddReference.UserInput])

@import helper._

@main(title = "Uusi lähdeviite") {

    <h1>Lähdeviitteen tiedot:</h1>

    @form(action = routes.AddReference.save, args = 'id -> "myform") {

        @inputText(
            field = myForm("title"),
            args = '_label -> "Nimi: ", '_showConstraints -> false
        )

        @inputText(
            field = myForm("author"),
            args = '_label -> "Tekijä(t): ", '_showConstraints -> false
        )

        @inputText(
            field = myForm("publisher"),
            args = '_label -> "Julkaisija: ", '_showConstraints -> false
        )

        @inputText(
            field = myForm("year"),
            args = '_label -> "Vuosi: ", '_showConstraints -> false
        )

        @inputText(
            field = myForm("citeKey"),
            args = '_label -> "Sitaattiavain: ", 'size -> 3, '_showConstraints -> false
        )

        @inputText(
            field = myForm("address"),
            args = '_label -> "Julkaisijan osoite: ", 'size -> 3, '_showConstraints -> false
        )

        @inputText(
            field = myForm("edition"),
            args = '_label -> "Painos: ", 'size -> 3, '_showConstraints -> false
        )

        @inputText(
            field = myForm("volume"),
            args = '_label -> "Osa: ", 'size -> 3, '_showConstraints -> false
        )

        <p class="buttons">
            <input id="save" type="submit" value="Tallenna">
        <p>

        <a href="..">Takaisin</a>
    }

}