@(refs: List[Reference])

@import helper._

@main("Kaikki lähdeviitteet") {

    <a class="btn" id="add" href="@routes.AddReference.show()">Lisää uusi viite</a>
    <a class="btn" id="download-bibtex" href="@routes.ViewBibTex.show">Lataa BibTex -tiedosto</a>

    @form(action = routes.ReferenceList.show, args = 'class -> "searchform", 'id -> "searchform") {
        <input type="search" id="searchbox" name="filter" placeholder="Hae tekijän mukaan...">
        <input type="submit" id="searchsubmit" value="Hae" class="btn">
    }

    <div class="add-entry-content">

    @if(refs.isEmpty()) {
        <p>Haulla ei löytynyt yhtään viitettä.</p>
    } else {
        <table>
            <tr>
                <th>Nimi</th>
                <th>Tekijä</th>
                <th>Vuosi</th>
            </tr>

        @for(r <- refs) {
            <tr>
                <td><a href="view?id=@r.getId()">@r.getTitle()</a></td>
                <td>@r.getAuthor()</td>
                <td>@r.getYear()</td>
            </tr>
        }
        </table>
    </div>
    }

}
