@(refs: List[Reference])

@main("Kaikki lähdeviitteet") {

    <p><a id="add" href="add">Lisää uusi viite</a></p>

    @if(refs.isEmpty()) {
        <p>Tietokantaan ei ole lisätty vielä yhtään viitettä.</p>
    } else {
        <table>
            <tr>
                <th>Nimi</th>
                <th>Tekijä</th>
                <th>Vuosi</th>
            </tr>

        @for(r <- refs) {
            <tr>
                <td><a href="view?id=@r.getId()">@r.getTitle()</a></td>
                <td>@r.getAuthor()</td>
                <td>@r.getYear()</td>
            </tr>
        }
        </table>
    }

}