@(ref: Reference)

@main("Viitteen tiedot") {

<h2>Tiedot:</h2>
<table>
    <tr>
        <td>Nimi:</td>
        <td>@ref.title</td>
    </tr>
    <tr>
        <td>Tekijä(t):</td>
        <td>@ref.author</td>
    </tr>
    <tr>
        <td>Julkaisija:</td>
        <td>@ref.publisher</td>
    </tr>
    <tr>
        <td>Vuosi:</td>
        <td>@ref.year</td>
    </tr>
    <tr>
        <td>Sitaattiavain:</td>
        <td>@ref.year</td>
    </tr>
    <tr>
        <td>Julkaisijan osoite:</td>
        <td>@ref.address</td>
    </tr>
    <tr>
        <td>Painos:</td>
        <td>@ref.edition</td>
    </tr>
    <tr>
        <td>Osa:</td>
        <td>@ref.volume</td>
    </tr>
</table>

<h2>BibTeX:</h2>
<pre>@ref.generateBibtexEntry()</pre>

<p class="buttons">
    <a href="@routes.ReferenceList.show">Takaisin</a>
</p>

}