@(ref: Reference)

@main("Viitteen tiedot") {

<h2>Tiedot:</h2>
<table>
    <tr>
        <td>Nimi:</td>
        <td id="title">@ref.getTitle()</td>
    </tr>
    <tr>
        <td>Tekijä(t):</td>
        <td id="author">@ref.getAuthor()</td>
    </tr>
    <tr>
        <td>Julkaisija:</td>
        <td id="publisher">@ref.getPublisher()</td>
    </tr>
    <tr>
        <td>Vuosi:</td>
        <td id="year">@ref.getYear()</td>
    </tr>
    <tr>
        <td>Sitaattiavain:</td>
        <td id="citeKey">@ref.getCiteKey()</td>
    </tr>
    <tr>
        <td>Julkaisijan osoite:</td>
        <td id="address">@ref.getAddress()</td>
    </tr>
    <tr>
        <td>Painos:</td>
        <td id="edition">@ref.getEdition()</td>
    </tr>
    <tr>
        <td>Osa:</td>
        <td id="volume">@ref.getVolume()</td>
    </tr>
</table>

<h2>BibTeX:</h2>
<pre id="bibtex">@ref.generateBibtexEntry()</pre>

<p class="buttons">
    <a id="back" href="@routes.ReferenceList.show">Takaisin</a>
</p>

}